@model ReviewFilter.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Content Verification";
}

<h2>Review Verification</h2>

<form asp-action="VerifyContent" method="post">
    <div class="review-container">
        <label for="InputContent">Input Content</label>
        <textarea id="InputContent" name="InputContent" class="review-input" rows="4">@Model.InputContent</textarea>

        <button type="submit" class="send-button">Verify</button>
    </div>
</form>

@if (Model.VerificationResult != null)
{
    <div class="mt-3">
        <h4>Verification Result</h4>
        <div class="alert @(Model.VerificationResult.Success ? "alert-success" : "alert-danger")">
            @if (Model.VerificationResult.Success)
            {
                <p>Verification successful!</p>
                <p>Sexual Content: @Model.VerificationResult.SexualContent</p>
                <p>Hate Content: @Model.VerificationResult.HateContent</p>
                <p>Harassment Content: @Model.VerificationResult.HarassmentContent</p>
                <p>ML result: @Model.MLResult</p>
                <p>Similarity result:  @($"{Model.SimilarityResult * 100:F2}%")</p>
            }
            else
            {
                <p>Verification failed!</p>
                <p>Error: @Model.VerificationResult.ErrorMessage</p>
            }
        </div>
    </div>
}